/* ===============================
Variables
================================== */
/* Colors --- */
/* Breakpoints --- */
/* ===============================
Base Styles
================================== */
.body {
  color: #23282D; }

/* list --- */
.list {
  padding-left: 0;
  list-style: none;
  margin: 0; }

/* link --- */
.link_color_inherited {
  color: inherit; }

.link_decorationOnHover_none:hover {
  text-decoration: none; }

.link_decoration_bottomBorder {
  border-bottom: 1px solid; }

.link_fontWeight_bold {
  font-weight: 500; }

/* ===========================
Navbar 
============================== */
/* search input --- */
.navbar__searchInput {
  border: none;
  transition-property: border-color, box-shadow;
  transition-duration: .15s; }
  .navbar__searchInput:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

/* user/cart icons --- */
.navbar__iconLink {
  color: #23282D !important;
  transition: color .15s; }
  .navbar__iconLink:hover, .navbar__iconLink:focus {
    color: rgba(35, 40, 45, 0.8) !important; }

/* ===========================
Breadcrumb 
============================== */
.breadcrumbBar {
  background-color: #23282D;
  z-index: 1; }

/* left arrow --- */
.breadcrumbBar__arrowLink {
  color: #fff;
  transition: color .1s; }
  .breadcrumbBar__arrowLink:hover, .breadcrumbBar__arrowLink:focus {
    color: rgba(255, 255, 255, 0.5); }

/* ===========================
Jumbotron 
============================== */
.jumbotron {
  background-color: darkred;
  background: darkred url(img/banner.png) no-repeat center/cover;
  padding: 5rem 1rem; }

/* title --- */
.jumbotron__title {
  font-size: 1.7rem; }

/* ===========================
Product Section 
============================== */
/* title --- */
.productSection__title {
  font-size: 1.2rem;
  letter-spacing: .8rem; }

.productSection__subTitle {
  font-size: 1.65rem; }
  .productSection__subTitle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #23282D;
    height: .2rem;
    width: 11rem; }

/* filter form --- */
.productsFilterForm {
  flex-basis: 100%; }
  @media screen and (min-width: 992px) {
    .productsFilterForm {
      flex: 1; } }

.productsFilterForm__filter {
  flex-basis: 50%;
  padding: .2rem .3rem; }
  @media screen and (min-width: 768px) {
    .productsFilterForm__filter {
      flex: 1; } }

/* product list ----- */
/* product image --- */
.product__image {
  height: 18rem;
  object-fit: cover;
  object-position: 50% 20%; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .product__image {
      height: 15rem; } }

/* collection --- */
.product__collection {
  padding-bottom: .8rem; }
  .product__collection::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: .5rem;
    background-color: #24282D;
    width: 4rem;
    height: .14rem; }

/* product name --- */
.product__name {
  font-size: 1rem; }

/* ===========================
Feature Section 
============================== */
.featureSection {
  background-color: #15171a; }

/* icons --- */
.feature__iconContainer {
  width: 3.4rem;
  height: 3.4rem; }

/* ===============================
Footer
================================== */
.footer {
  background-color: #000; }

/* subscription input */
.subscriptionForm__input {
  color: #fff;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
  transition: border-width .2s; }
  .subscriptionForm__input:focus {
    outline: none;
    border-width: 2px; }
  .subscriptionForm__input::placeholder {
    color: #fff; }

/* subscription button */
.subscriptionForm__button {
  border-bottom: 1px solid; }

/* ===========================
Bootstrap Extensions
============================== */
.font-weight-md {
  font-weight: 500; }
