/* ===============================
Variables
================================== */
/* Colors --- */
/* Breakpoints --- */
/* ===============================
Base Styles
================================== */
.body {
  color: #23282D; }

/* list --- */
.list {
  padding-left: 0;
  list-style: none;
  margin: 0; }

/* link --- */
.link_color_inherited {
  color: inherit; }

.link_decorationOnHover_none:hover {
  text-decoration: none; }

.link_decoration_bottomBorder {
  border-bottom: 1px solid; }

.link_fontWeight_bold {
  font-weight: 500; }

/* ===========================
Navbar 
============================== */
/* search input --- */
.navbar__searchInput {
  border: none;
  transition-property: border-color, box-shadow;
  transition-duration: .15s; }
  .navbar__searchInput:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

/* user/cart icons --- */
.navbar__iconLink {
  color: #23282D !important;
  transition: color .15s; }
  .navbar__iconLink:hover, .navbar__iconLink:focus {
    color: rgba(35, 40, 45, 0.8) !important; }

/* ===========================
Breadcrumb 
============================== */
.breadcrumbBar {
  background-color: #23282D;
  z-index: 1; }

/* left arrow --- */
.breadcrumbBar__arrowLink {
  color: #fff;
  transition: color .1s; }
  .breadcrumbBar__arrowLink:hover, .breadcrumbBar__arrowLink:focus {
    color: rgba(255, 255, 255, 0.5); }

/* ===========================
Jumbotron 
============================== */
.jumbotron {
  background-color: darkred;
  background: darkred url(img/banner.png) no-repeat center/cover;
  padding: 5rem 1rem; }

/* title */
.jumbotron__title {
  font-size: 1.7rem; }

/* ===========================
Bootstrap Extensions
============================== */
.font-weight-md {
  font-weight: 500; }
